<h1 style="text-align: center;font-size: 40px;font-family: monospace;padding: 30px;">Gestión de Usuarios</h1>

<div style="height: 100%; width: 60%;float: left;">

  <div>
    <table style="width: 80%;margin: auto;">
      <thead>
        <tr style="width: 100%;">
          <th class="th" colspan="4" *ngIf="listadoUsuarios.length > 0">Usuarios</th>
          <th class="th" colspan="4" *ngIf="listadoUsuarios.length == 0">No hay usuarios</th>
          <!-- <th class="th">Column 2</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listadoUsuarios">
          <td class="td">
            {{usuario.email}}
          </td>
          <td class="td">
            {{usuario.nombreCompleto}}
          </td>
          <td class="td" *ngIf="usuario.idRol === '1' ">
            Administrador
          </td>
          <td class="td" *ngIf="usuario.idRol === '2'">
            Usuario
          </td>
          <td class="td">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="goToEditZona((usuario.id).toString())">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="goToDeleteZona((usuario.id).toString())">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>


<div style="height: 100%; width: 40%;float: right;">
  <router-outlet></router-outlet>
</div>
