<div style="width: 50%; height: 40%;margin: auto; background-color: white; margin-top: 70px;border-radius: 30px; ">

  <h1 style="font-family: monospace;text-align: center;">¿Seguro que deseas eliminar el establecimiento: {{nombreEstablecimiento}}.</h1>

  <div style="width: 50%;margin: auto;font-family: monospace; ">
    <button type="button" class="btn btn-outline-success" style="margin-top: 10px;" (click)="deleteEstablecimientoApi(idEstablecimiento)">Aceptar</button>
    <button type="button" class="btn btn-outline-danger" (click)="goToList()">Cancelar</button>
  </div>

</div>
