<div style="padding: 30px;text-align: center;">
  <h1  style="font-size: 30px;font-family: monospace;">Sugerencia de un Establecimiento</h1>
</div>
<form [formGroup]="searchForm" class="input-group flex-nowrap" style="width: 80%;margin: auto;padding: 20px;">
  <input type="text" class="form-control" placeholder="Escribe el nombre del establecimiento*" aria-label="Username" aria-describedby="addon-wrapping" formControlName="nombre">
</form>

<form [formGroup]="searchForm" class="input-group flex-nowrap" style="width: 80%;margin: auto;padding: 20px;">
  <input type="text" class="form-control" placeholder="Escribe el enlace al sitio web del establecimiento*" aria-label="Username" aria-describedby="addon-wrapping" formControlName="enlace">
</form>

<div style="font-family: monospace;width: 80%;margin-top: 30px;margin: auto;">
  <button  type="button" class="btn btn-outline-success" style="float: left;" (click)="addSugerenciaApi()">Aceptar</button>
  <button  type="button" class="btn btn-outline-danger" style="float: right;" (click)="cancelar()">Cancelar</button>
</div>


