
<div style="padding: 40px;">
  <h1 style="text-align: center;font-size: 30px;font-family: monospace;">Listado de Establecimientos</h1>
  <div style="float: left;margin-bottom: 20px;">
    <button style="margin-right: 20px;" *ngIf="idRol === '1'" type="button" (click)="navigateToAdd()" class="btn btn-outline-success">Añadir Establecimiento</button>
    <!-- <button type="button" (click)="navigateToSuggestion()" class="btn btn-outline-success">Añadir Sugerencia</button> -->
  </div>
  <div style="float: left;margin-bottom: 20px;">
    <!-- <button style="margin-right: 20px;" *ngIf="idRol === '1'" type="button" (click)="navigateToAdd()" class="btn btn-outline-success">Añadir Establecimiento</button> -->
    <button type="button" (click)="navigateToSuggestion()" class="btn btn-outline-success">Añadir Sugerencia</button>
  </div>
  <div style="width: 300px;">
    <form class="input-group flex-nowrap" style="width: 100%;margin: auto;margin-top: 10px;">
      <select class="form-control" id="zona" name="zona" [(ngModel)]="zonaSeleccionada" (change)="filtrarEstablecimientos()">
        <option [value]=0>Selecciona una zona</option>
        <option *ngFor="let zona of listadoZonas" [value]="zona.id">{{ zona.nombre }}</option>
      </select>
    </form>
    <form class="input-group flex-nowrap" style="width: 100%;margin: auto;margin-top: 10px;">
      <select class="form-control" id="categoria" name="categoria" [(ngModel)]="categoriaSeleccionada" (change)="filtrarEstablecimientos()">
        <option [value]="0">Selecciona una categoría</option>
        <option *ngFor="let categoria of listadoCategorias" [value]="categoria.id">{{ categoria.nombre }}</option>
      </select>
    </form>
  </div>

  <button type="button" style="margin-top: 10px;" class="btn btn-outline-info" (click)="restablecerListado()">Restablecer Filtros</button>

</div>

<div class="grid mb-8" style="background-color: rgb(124 124 252);margin: auto;height: 100%;margin-left: 20px;margin-top: 50px;">
  <div class="card" style="margin-left: 20px;margin-bottom: 20px;background: url({{evitarErrorEnFoto(establecimiento.foto)}});background-repeat: no-repeat;background-size: 100%;" *ngFor="let establecimiento of establecimientosFiltrados">
    <div class="card__content">
      <p class="card__title">{{establecimiento.nombre}} ({{ obtenerNombreZona((establecimiento.id_zona)) }})</p>
      <!-- <a href="{{establecimiento.enlace}}" target="_blank" type="button" class="btn btn-outline-primary" style="margin-top: 10px;margin-left: 30px;margin-top: 30px;">Sitio web</a>
      <a type="button" class="btn btn-outline-secondary" style="margin-top: 10px;margin-left: 10px;margin-top: 30px;" (click)="navigateToDetails(establecimiento.id)">Detalles</a> -->
      <div style="font-family: monospace;width: 100%;margin: auto;margin-top: 20px;margin-bottom: 10px;">
        <a  href="{{establecimiento.enlace}}" target="_blank" type="button" class="btn btn-outline-primary" style="margin-right: 20px;float: left;">Sitio web</a>
        <a type="button" class="btn btn-outline-secondary" style="float: right;" (click)="navigateToDetails(establecimiento.id)">Detalles</a>
      </div>
    </div>
  </div>
</div>


