<h1 style="text-align: center;font-size: 40px;font-family: monospace;padding: 30px;">Gestión de Zonas</h1>

<div style="height: 100%; width: 60%;float: left;">

  <div>
    <table style="width: 60%;margin: auto;">
      <thead>
        <tr style="width: 100%;">
          <th class="th" colspan="2" *ngIf="listadoZonas.length > 0">Zonas</th>
          <th class="th" colspan="2" *ngIf="listadoZonas.length == 0">No hay zonas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zona of listadoZonas">
          <td class="td">
            {{capitalizarPalabra(zona.nombre)}}
          </td>
          <td class="td">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="goToEditZona((zona.id))">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="goToDeleteZona(zona.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>


<div style="height: 100%; width: 40%;float: right;">
  <router-outlet></router-outlet>
</div>
