<h1 style="text-align: center;font-size: 40px;font-family: monospace;padding: 30px;">Registro de Actividad</h1>

<div style="height: 100%; width: 60%;margin: auto;">

  <div>
    <table style="width: 100%;">
      <thead>
        <tr style="width: 100%;">
          <th class="th" colspan="3">Últimos 10 Registros</th>
          <!-- <th class="th" colspan="2">No hay categorías</th> -->
        </tr>
      </thead>
      <tbody *ngFor="let registro of listadoRegistros">
        <tr>
          <td class="td">
            {{ listadoNombresUsuarios[registro.id_usuario] || 'Cargando...' }}
          </td>
          <td class="td">
            {{registro.estado}}
          </td>
          <td class="td">
            {{registro.hora}}
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>
